<ion-header>
    <ion-toolbar [color]="configSrv.platformConfig.toolbarColor">
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="" (click)="dismiss()"></ion-back-button>
        </ion-buttons>
        <ion-title>路线查看或导航</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="navigationIsReady">
        <ion-row class="align-center">
            <ion-col width-50>
                <ion-button outline small (click)="doNavigation(0)">驾车实时导航</ion-button>
            </ion-col>
            <ion-col width-50>
                <ion-button color="secondary" outline small (click)="doNavigation(1)">驾车模拟导航</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="walkNavigationIsReady">
        <ion-row class="align-center">
            <ion-col width-50>
                <ion-button outline small (click)="doNavigation(2)">步行实时导航</ion-button>
            </ion-col>
            <ion-col width-50>
                <ion-button color="secondary" outline small (click)="doNavigation(3)">步行模拟导航</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #panel></div>
</ion-content>
