tabs-mine {
    ion-toolbar:last-child {
        --border-width: 0 0 0 !important;
    }

    .mine-header {
        background-color: var(--ion-color-primary);

        ion-label {
            margin: 30px 8px 30px 0 !important;
        }

        ion-avatar {
            height: 64px;
            width: 64px;
        }

        h2,
        p {
            color: #fff;
        }
    }

    .description {
        color: #eee;
        font-size: 1.2rem
    }
}
