
@font-face {font-family: "Ionicons";
    src: url('../assets/img/tab/iconfont.eot'); /* IE9*/
    src: url('../assets/img/tab/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/img/tab/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../assets/img/tab/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../assets/img/tab/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .ion-md-zhifubao:before{ content: "\e607"; }
  
  .ion-ios-zhifubao:before { content: "\e607"; }
  
  .ion-ios-zhifubao-outline:before { content: "\e785"; }
  
  
  .ion-md-qq:before{ content: "\e658"; }
  
  .ion-ios-qq:before { content: "\e658"; }
  
  .ion-ios-qq-outline:before { content: "\e617"; }