page-map-location {
.map-share{
  height:100%;
  width: 100%;
}
  .search{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
  }
  .position-btn {
    position: absolute;
   left: 5px;
    bottom: 20px;
    z-index: 1;
    font-size: 22px;
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
  }
  .fab-btn {
    position: absolute;
    left:50%;
    margin-left: -80px;
    bottom: 10px;
    z-index: 1;
    text-align: center;
  }

}
