<ion-tabs>
  <ion-tab label="Schedule" icon="calendar" href="/app/admin/tabs/(schedule:schedule)">
    <ion-router-outlet stack name="schedule"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Speakers" icon="contacts" href="/app/admin/tabs/(speakers:speakers)">
    <ion-router-outlet stack name="speakers"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/app/admin/tabs/(about:about)">
    <ion-router-outlet stack name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
