page-search-address {
    .searchbar-ios-cancel {
        color: #fff;
        background: #fff;
    }

    .address {
        background-color: #1c9e43;
        color: #fff;
        font-size: 12px;
        padding: 1px;
        margin-right: 3px;
    }

    .toolbar-ios ion-title {
        padding-left: 50px;
        padding-right: 0;
    }

}
