page-change-password {
  .strength {
    padding: 0 16px;
  }
  .strength > div {
    float: left;
  }

  .bar {
    height: 18px;
    text-align: center;
  }

  .low {
    background-color: red;
    width: 20%;
    color: #fff;
  }
  .low:after {
    content: "低";
  }

  .middle {
    background-color: yellow;
    width: 40%;
    color: #000;
  }
  .middle:after {
    content: "中";
  }

  .high {
    background-color: green;
    width: 60%;
    color: #fff;
  }
  .high:after {
    content: "高";
  }
}
