<ion-header>
  <ion-navbar>
    <ion-title id="entry3">关于</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding text-center>
    <img src="./assets/img/logo.png" alt="" style="border-radius: 50%;">
  </div>
  <ion-list>
    <button ion-item (click)="checkNewVersion()" detail-none>
      <span *ngIf="currentVersionNo==latestVersionNo">已经是最新版本(版本号:{{currentVersionNo}})</span>
      <span *ngIf="currentVersionNo!=latestVersionNo">发现新版本(最新版本:{{latestVersionNo}};当前版本:{{currentVersionNo}})</span>
    </button>
    <button ion-item (click)="updateLog()">
      更新日志
    </button>
    <button ion-item (click)="features()" detail-none>
      功能介绍
    </button>
    <button ion-item (click)="feedBack()">
      我的反馈
    </button>
  </ion-list>
</ion-content>
