page-mine {
  .mine-header {
    color: #fff;
  }
  .mine-header button {
    background-color: color($colors, primary);
    color: #fff;
  }
  .description {
    color: #eee;
    font-size: 1.2rem
  }
}
