<ion-tabs>
    <ion-tab label="Schedule" icon="calendar" href="/app/tabs/(schedule:schedule)">
        <ion-router-outlet stack name="schedule"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Speakers" icon="contacts" href="/app/tabs/(speakers:speakers)">
        <ion-router-outlet stack name="speakers"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="demo" icon="contacts" href="/app/tabs/(demo:demo)">
        <ion-router-outlet stack name="demo"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/app/tabs/(about:about)">
        <ion-router-outlet stack name="about"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="我的" icon="information-circle" href="/app/tabs/(mine:mine)">
        <ion-router-outlet stack name="mine"></ion-router-outlet>
    </ion-tab>
</ion-tabs>
