<ion-header>
    <ion-toolbar [color]="configSrv.platformConfig.toolbarColor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>编辑个人信息</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label floating>姓名</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">{{verifyMessages.name.errorMsg}}</div>

            <ion-item>
                <ion-label floating>手机号码</ion-label>
                <ion-input type="tel" formControlName="mobileNumber"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.phone.errorMsg" class="validation-failed">{{verifyMessages.phone.errorMsg}}</div>

            <ion-item>
                <ion-label floating>电子邮箱</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.email.errorMsg" class="validation-failed">{{verifyMessages.email.errorMsg}}</div>

        </ion-list>
        <div padding-horizontal>
            <button type="submit" ion-button block [disabled]="!userForm.valid">保 存</button>
        </div>
    </form>
</ion-content>
